* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    margin: 0px 0 25px 0;
    height: 10vh;
    text-align: center;
    padding: 30px;
}
body { 
    background-color: rgb(204, 212, 212);
}


table tr td {
    width: 75px;
    height: 75px;
}

#container {
    display: flex;
    justify-content: center;
}

#popUP {
    display: none;
    position: absolute;
    top: 20%;
    left: 25%;
    
}

#dojo {
    width: 45vh;
}
